<html>
<head>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<title>
{% block title %} {% endblock %}
</title>
<script> {% block script %} {% endblock %} </script>
</head>
<body>
<table id="maintable">
    <tbody>
    <tr>
       <td id='leftmenu'>
           <div id='mytags'>
            <ul>
           {% block tags  %} {% endblock %}
           </ul>
           </td>
       <td id='main'>
           {% block main %} {% endblock %}
           </td>
    </tr>
    </tbody>
</table>
</body>
</html>

